.cartitems {
  margin: 100px 80px;
}
.displayfor-smallscreen {
  display: none;
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitem-format-main {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}
.carticon-product-icon {
  height: 62px;
}
.carticon-remove-item {
  width: 15px;
  cursor: pointer;
  margin: 0px 40px;
  color: #454545;
}
.cartitems-quantity {
  height: 50px;
  width: 50px;
  border: 2px solid #e2e2e2;
  background: white;
}
.cartitems-down {
  display: flex;
  margin: 80px 0px;
  gap: 300px;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total button {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 800px) {
  .cartitems {
    margin: 40px 30px;
  }
  .displayfor-smallscreen {
    display: flex; /* Align image and content side by side */
    gap: 10px; /* Space between image and details */
    align-items: flex-start; /* Ensure top alignment */
    padding: 10px; /* Optional padding for spacing */
  }
  .displayfor-bigscreeen {
    display: none;
  }
  .cartitem-format-main {
    display: none;
  }

  .carticon-product-icon {
    width: 70px; /* Adjust size as needed */
    height: auto;
  }

  .product-details {
    padding: 10px;
    width: 100%;
    gap: 20px;
  }
  .name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .size-quantity-totalprice {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .cartitems-quantity {
    height: 30px;
    width: 30px;
    border: none;
  }
  .displayfor-smallscreen > div:last-child {
    display: flex;
    justify-content: space-between;
  }
  .mulandequalsign {
    width: 10px;
    height: 10px;
  }
  .removeicon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .carticon-remove-item {
    height: 15px;
    width: 15px;
    margin: 0px;
  }

  .name-price,
  .size-quantity-totalprice {
    display: flex;
    gap: 10px; /* Space between name/price or size/quantity elements */
    justify-content: space-between;
  }
}
