.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.addproduct-btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
