.offers {
  width: 100%;
  display: flex; /* Ensures flexbox layout */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-top: 80px;
}

.offers img {
  width: 80%; /* Set image to 80% of the container's width */
  max-height: 100%; /* Ensures image doesn't overflow vertically */
}
@media (max-width: 1280px) {
  .offers {
    height: 55vh;
  }
}
@media (max-width: 1024px) {
  .offers {
    height: 50vh;
  }
}
@media (max-width: 800px) {
  .offers {
    height: 50vh;
  }
}
@media (max-width: 550px) {
  .offers {
    height: 20vh;
  }
}
